#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header {
  display: flex;
  gap: 20px;
  margin: 15px;
}
.headerLinc {
  display: flex;
  padding: 15px, 25px;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: 1 px solid black;
  border-radius: 5px;
}
.active {
  color: white;
  background-color: black;
}
